html,body,.wrapper{
    height: 100%;
    width: 100%;
 }
 body{
    margin: 0;

 }
.wrapper>div {
    box-sizing: border-box;
    }
.wrapper > div:nth-child(1){
    width: 100%;
    height: 15%;
        
 }
.menu{
    width: 55%;
    float: right;
}
ul, ol{
    float: left;
}
ul ol a{
    color:black;
    display: block;
    height: 50px;
    padding-left: 10px;
    text-decoration: none;
    font-weight: bolder;
     
}

 .meetme{
    color: rgb(0, 195, 255);
    font-size: 40px;
    
    
}
.wrapper > div:nth-child(2){
     width: 100%;
     height: 80%;
     background-image: url("assets/office.jpg");
     background-size: cover;
     background-repeat: no-repeat;

}
.image>div{
    width: 30%;
    height: 3%;
    margin: 0 auto;
    padding-top: 5%;
    box-sizing: border-box;
}
h1,h2,h3{
    color:white;
    text-align: center;
    font-style: oblique;
}

button{
    background-color: rgb(0, 195, 255);
    width: 200px;
    height: 40px;
    font-size: 10px;
    margin-left: 120px;
    
    
}