.table1{
    background-image: linear-gradient(to right,rgb(5, 173, 117),rgb(135, 245, 208));
        width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
table{
    background-image: linear-gradient(to right,rgb(5, 173, 117),rgb(135, 245, 208));
    color: white;
    width: 100%;
    font-family: Verdana;
    border-collapse: collapse;
   }
    h1{
    padding: 20px;
    text-align: center;
    color: white
}
tr{
    border: 0.5px solid;
    border-color: rgb(123, 243, 203);
}
td{
    width: 100px;
    border-collapse: collapse;
    padding: 20px;
}
th{
  
    background-color: rgb(157, 243, 196);
    text-align: left;
    padding:20px
}

